<div class="banner">
<h1 class="banner-text">Give Website<br>to your Life</h1>
</div>

<div class="container">
  <div class="presentation">
    <p class="presentation-title"> Who I am ?<p>
    <p class="presentation-description">From Prada to Data, I decided to give meaning and freedom to my life.
    Having a marketing background I try to create websites from back to front.
    More than a simple creation of a website, it is an accompaniment in the realization
    of what will reflect your projects on the web and to the word.</p>
  </div>

  <div class="presentation">
    <p class="presentation-title">Expertises</p>
    <div class="cards">
      <p class="card">Back End</p>
      <p class="card">Front End</p>
      <p class="card">Brand Identity</p>
    </div>
  </div>

    <div class="presentation">
    <p class="presentation-title">Projects</p>
    <div class="cards">
      <p class="card">Requêtes pour un Winner</p>
      <p class="card">Cullettività di Corsica </p>
      <p class="card">Le jardin de Chine</p>
    </div>
  </div>

  <div class="presentation">
    <p class="presentation-title"> Contact Me<p>
    <div class="presentation-contact">
      <p class="presentation-description">Phone : 06 58 62 29 07</p>
      <p class="presentation-description">Email : sophie.mansour@outlook.fr</p>
    </div>
  </div>

</div>
