.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  perspective: 200rem;

  .card {
    display: flex;
    width: 25%;
    height: 40vh;
    color: $maintext;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #19191949;
    background: linear-gradient(0.35turn, #85A4E6, #fcfaff, #AC83CC);
    background-size: cover;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;

    &:hover {
      transform: rotateY(-0.5turn);
    }

    .card__face {
      position: absolute;
      bottom: -35%;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transition: 1s ease-in-out;

      p{
        font-size: 2.3rem;
      }

      &--back {
        transform: rotateY(-0.5turn);

        p{
          font-size: 2rem;
        }
      }
    }
  }
}
