<div class="navbar">
  <%= link_to root_path do %>
    <div class="navbar-brand">
      <div class="navbar-logo">
        <%= image_tag "logo.png" %>
      </div>
      <div class="navbar-menu-item">
        <p>Home</p>
      </div>
    </div>
  <% end %>

  <div class="navbar-menu">
    <div class="navbar-menu-item">
      <p>Who am I ?</p>
      <p>Expertises</p>
      <p>Contact Me</p>
    </div>
  </div>

</div>
